.container-request{
    display: flex;
    flex-direction: row-reverse;
    font-weight: 400;
}

.bg-request { 
    background-image: url("../../assets/bg.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.form-request{
    position: absolute;
    width: 60%;
    height: 45vh; 
    background: rgba(55, 171, 157, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-request{
    position: relative;
    top: 10%;
    font-size: 32px;
    color: #0C1417;
    font-weight: 400;
    text-align: center;
}

.phrase-request{
    position: relative;
    top: 15%;
    font-size: 18px;
    color: #0C1417;
    font-weight: 400;
    text-align: center;
}

#email-request{
    position: relative;
    width: 70%;
    height: 15%;
    top: 25%;
    left: 0%;
    padding-left: 2%;
    border:0;
    outline:0;
    font-size: 18px;
    color: #0C1417;
    background: #EFF1F1;
    opacity: 0.6;
    border-radius: 10px;
}

#submit-request{
    position: relative;
    top: 35%;
    left: 0;
    width: 24.5vh;
    height: 20%;
    border:0;
    outline:0;
    margin: 0px 10px 0 10px;
    color: #EFF1F1;
    font-size: 18px;    
    background: #0C1417;
    border-radius: 15px;
    cursor: pointer;
}


.load-request{
    position: relative;
    top: 20%;
  }

@media screen and (max-width: 531px){
    .title-request{
        font-size: 22px;
    }

    .phrase-request{
        font-size: 14px;
    }

    #submit-request{
        height: 15%;
    }

    #email-request{
        height: 10%;
    }
  }


  @media screen and (max-width: 531px){
    .title-request{
        font-size: 18px;
    }

    .phrase-request{
        font-size: 12px;
    }
  }

